
{% load static  %}

 <form class="search" action="{% url 'courier:search' %}" role="search">
     <div>
    <img src="{% static "/images/man.png" %}" alt="" >
         lets search!!
</div>
        {% csrf_token %}
        <div class="form-group">
            <div class="input-group">
                <input name="search" class="form-control" id="navbarInput-01" type="search" placeholder="Search">
          <span class="input-group-btn">
            <button type="submit" class="btn"><span class="fui-search"></span></button>
          </span>
            </div>
        </div>
    </form>
    <style>
    .search{
       padding: 20px;
        margin:auto;
{#        background-color: rgb(231, 234, 235);#}
        border-radius: 5px;
    }
    </style>
